services:
  backend:
    build:
      context: .
      dockerfile: docker/Dockerfile
    env_file:
      - .env.docker
    environment:
      ENV_TYPE_FILE: ".env.docker"
    ports:
      - "8000:8000"
    depends_on:
      - db
    volumes:
      - ./dumps:/dumps
    restart: unless-stopped

  db:
    image: postgis/postgis:17-3.5
    environment:
      - TZ=Europe/Moscow
    env_file:
      - .env.docker
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: unless-stopped

volumes:
  postgres_data:
