name: CI/CD Deploy

on:
    push:
        branches:
            - main

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout code
              uses: actions/checkout@v3

            - name: Deploy to server
              uses: appleboy/ssh-action@v0.1.6
              with:
                  host: ${{ secrets.DEPLOY_HOST }}
                  username: ${{ secrets.DEPLOY_USER }}
                  key: ${{ secrets.DEPLOY_KEY }}
                  port: 22
                  script: |
                      cd ~/trava
                      docker-compose -f docker-compose.yml pull || true
                      docker-compose -f docker-compose.yml up -d --build
